.App{ margin: 100px auto; text-align: center; } 

.img-container{ width: 400px; height: 400px; overflow: hidden; margin: 0 auto; } 

.img-container img{ width: 100%; height: 100%; } 

.control-btns{ display: flex; justify-content: center; align-items: center; margin-top: 20px;}

.control-btns button{margin: 1em;}
